.container {
    display: flex;
    flex-direction: column;
}

.description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.button-container button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.button-app button {
    color: #fff;
    background-color: #f78359;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-app button:hover{
    color: #fff;
    background-color: #f9a684;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-delete {
    background-color: #f75959;
    margin-right: 10px;
}

.button-update {
    background-color: #f78359;
}

.button-container button:hover {
    background-color: #f9a684;
}

.delete-icon {
    cursor: pointer;
    color: #f78359;
}

.button-refresh {
    margin-left: auto;
    background-color: #f78359;
}
